<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Redis" connectionString="DJCache.redis.cache.windows.net,abortConnect=false,ssl=true,password=1qc+x5IBi/zcSjppXO080FLfbmNmXS2coT9t+S1VBwo="/>
  </connectionStrings>
</configuration>